QualityMetricsPanel, 
EncryptionPanel
{
    border-radius: 10px;
    background-color: #323232;
}

EncryptionPanel #keyEdit,
EncryptionPanel #messageEdit
{
    border: 1px solid #323232;
    border-radius: 4px;
    background-color: #1E1E1E;
    padding: 2px;
}

EncryptionPanel #keyEdit:disabled,
EncryptionPanel #messageEdit:disabled
{
    background-color: #2A2A2A;
    color: #707070;
    border-color: #2A2A2A;
}

EncryptionPanel #messageEdit[limit_exceeded="true"],
EncryptionPanel #messageEdit[limit_exceeded="true"]:focus
{
    border-color: #E74C3C;
}

EncryptionPanel #messageCountLabel[limit_exceeded="true"]
{
    color: #E74C3C;
}